<!DOCTYPE html>
<html>
<style>
    body {
        background-image: url('/Img/Career.jpg');
        background-size: 1550px 2300px;
        background-repeat: no-repeat;
        background-position: 1px -1390px;
    }
</style>

<head>
    <title>Login To Career</title>
    <link rel="icon" href="/Img/LTC favicon.png">
    <link rel="stylesheet" href="/CSS/styling.css">
    <script src="https://kit.fontawesome.com/2cfbb12faf.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav">
        <h1 id="heading">Login To Career</h1>
        <img class="img" src="/Img/LTC Logo.png">
    </nav>
    <input type="search" name="searchg" id="searchg" placeholder="Search...">
    <form class="login " id="login" action="/homepage" method="post">
        <fieldset>
            <legend>Login </legend>
            <input type="email" class="log" name="email" id="mailid" value="" placeholder="someone@gmail.com"
                required><br>
            <input type="password" class="log" name="pass" id="pwd" value="" placeholder="password" required><br>
            <input type="submit" class="log logs" value="Login" id="log" name="loginsubmit"><br>
        </fieldset>
    </form>
    <footer class="footer">
        <h4 class="ftr h3">Contact: </h4><br>
        <p class="ftr ftr1">Illam, New Street, City.</p>
        <a href="https://www.instagram.com/" target="_blank"> <i class="fa-brands fa-instagram icons i1"></i></a>
        <a href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-facebook-f icons"></i></a>
        <a href="https://mail.google.com/" target="_blank"> <i class="fa-solid fa-envelope icons"></i></a>
    </footer>

</body>

</html>