<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h4>Hi <%= username %>,</h4>
    <p>Thanks for your support &#128515;!!!</p>
    <p>
        <%= username %> mail id is added to subscription
    </p>
    <p><i>Regards,</i></p>
    <p><i>Login To Career Team.</i></p>
    <hr>
    <i>To unscribe from subscription, kindly click the link.<a
            href='https://kiruthiga-12-login-to-career.onrender.com/unsubscribe'><i>Unsubscribe</i></a></i>
</body>

</html>
