<!DOCTYPE html>
<html>
<style>
</style>

<head>
    <title>Login To Career</title>
    <link rel="icon" href="/Img/LTC favicon.png">
    <link rel="stylesheet" href="/CSS/styling.css">
    <script src="https://kit.fontawesome.com/2cfbb12faf.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav1">
        <h1 id="heading1">Login To Career</h1>
        <img class="img" src="/Img/LTC Logo.png">
    </nav>
    <input type="search" name="searchg" id="searchg1" placeholder="Search...">
    <button id="logout" class="logout"><a href="/" title="logout"><i class="fa-solid fa-user"></i></a></button>
    <script>
        let lt = document.getElementById("logout");
        let range = document.getElementById("range");
        lt.addEventListener("click", () => {
            alert("Logged out Successfully!!");
        })
    </script>